.movies-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.movies-list > .items {
  width: 20%;
}

.expanded-movie-item {
  width: 80%;
  display: flex;
  flex-direction: row;
}

.expanded-movie-item h4 {
  display: inline;
}

.expanded-movie-item  > .description {
  display: flex;
  flex-direction: column;
}

.movie-list-item {
  cursor: pointer;
}

.movie-list-item.selected {
  text-decoration: underline;
}