.movies-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.movies-list > .items {
 /* width: 20%;*/
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.expanded-movie-item {
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color: beige;
  padding: 3rem;
  border: 3px solid black;
}

.expanded-movie-item .poster{
  height: 20rem;
  width: 20rem;
}

.expanded-movie-item h4 {
  display: inline;
}

.expanded-movie-item  > .description {
  display: flex;
  flex-direction: column;
}

.movie-list-item {
  cursor: pointer;
  height: 13rem;
  width: 15rem;
  margin: 1rem;
  border:1px solid;
  position: relative;

}

.movie-list-item .title{
  font-size: 0.8rem;
  font-weight: bolder;
}

.movie-list-item .poster{
  height: 10rem;
  width: 100%;

}
.movie-list-item .vote{
  text-align: center;
  align-items: center;
  align-content: center;
  width: 100%;
  position: absolute;
  bottom: 0.5rem;
}


.movie-list-item.selected {
  text-decoration: underline;
}