.MovieLibrary {
    text-align: center;
    background: linear-gradient(90deg, rgba(9, 9, 121, 0.3785889355742297) 31%, rgba(66, 61, 166, 0.227328431372549) 69%, rgba(0, 212, 255, 1) 100%);
}

.ML-logo {

    height: 80px;
}

.ML-header {
    height: 5rem;
    padding: 20px;
    color: white;
}

.ML-title {
    font-size: 1.5em;
}

.ML-intro {
    font-size: large;
}
.overlay .sort-list,.overlay .items {
    opacity: 0.3;
    pointer-events: none;
}
